<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>

<body>
    <div id="header">
        <ul>
            <li>
                <a class="active" href="/"><img src="image/logo.png" style="margin:-10px;" /> Home</a>
            </li>
            <li><a href="update">Update Profile</a></li>
            <li><a href="profile">Profile</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <img src="/storage/profile_pic/{id}.jpg" width="200px" height="200px" />
        <p>
            <b>Name :</b> {fname} {lname}
        </p>
        <p>
            <b>Email :</b> {email}
        </p>
        <p>
            <b>Joined Date :</b> {date_of_birth}
        </p>
        <p>
            <b>Joined Date :</b> {date_of_joining}
        </p>
        <p>
            <b>Hometown :</b> {hometown}
        </p>
        <p>
            <b>Contact Address :</b> {address}
        </p>
        <p>
            <a href="/storage/id_proof/{id}.pdf" target="_blank"> <b>ID proof </b></a>
        </p>
        <p>
            <a href="/storage/address_proof/{id}.pdf" target="_blank"> <b>Address proof </b></a>
        </p>
    </div>
</body>

</html>
